header{
    width: 100%;
    height: 8.8rem;
    background-color: var(--gray-colors-800) ;
    display: flex;
}

header .container{
  display: flex;  
  justify-content: space-between;
  align-items: center;

}
header .menu-mobile{
    display: none;
}
header nav{
    display: flex;
    align-items: center;

}

header nav ul{
    display: flex;
    margin-right: 3.2rem;
}

header nav ul li{
    margin-right: 3.2rem;
}
header nav ul li:last-child{
    margin-right: 0;
}
header nav .btn-primary{
    padding: 0.9rem 3.4rem;
}

.s-hero{
    padding:7.2rem 0;
}

.s-hero .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s-hero .text{
    width: 100%;
    max-width: 640px;
}
.s-hero .text h1{
    margin-bottom: 20px;
}

.s-hero .text p{
    margin-bottom: 56px;
    max-width: 488px;
    font-size: 1.8rem;
    line-height: 150%;
    color: var(--gray-colors-300);
}

.s-hero .text .btn-primary{
    padding:1.7rem 3.7rem ;
}
.s-hero .image{
    width: 100%;
    max-width: 488px;
    height: 496px;
    background-color: var(--gray-colors-800);
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-card-feature{
    background-color: var(--gray-colors-100);
    padding-top: 104px ;
    padding-bottom: 120px;
}

.s-card-feature .main-area{
    border-bottom: 1px solid rgb(255, 255, 255,0.25);
    padding-bottom: 125px;
    }
    .s-card-feature  .title{
        display: flex;
        flex-direction: column;
    }
    .s-card-feature  .title.center{
        align-items: center;
    }
    .s-card-feature  .title p {
       margin-top: 0.8rem;
    }
    .s-card-feature p{
        color: var(--white-colors-text);
    }

    .s-card-feature .all-cards{
        display: flex;
        justify-content: space-between;
        margin-top:48px;
    }

    .s-card-feature .all-cards .card{
        width:100%;
        max-width:384px;
        height: 382px;
        background-color: rgba(28, 29, 31, 0.25);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 64px;
    }
    
    .s-card-feature .all-cards .card.white{
        background-color: var(--white);
    }
    .s-card-feature .all-cards .card.white h3{
        color: var(--gray-colors-100);
    }
    .s-card-feature .all-cards .card.white p{
        color: var(--gray-colors-300);
    }
    .s-card-feature .all-cards .card .info{
        margin-top: 40px;
        max-width: 288px;
    }

    .s-card-feature .all-cards .card .info h3{
        text-align: center;
    }
    .s-card-feature .all-cards .card .info p{
        text-align: center;
        margin-top: 8px;
        line-height: 150%;
    }